<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개발 중 입니다!</title>
    <link rel="stylesheet" href="/src/templates/404.css" />
</head>
<body>
    <div class="main_404">
        <div class="not_found">404 Not Found</div>
        <div class="not_found2">아직 개발 중 입니다!</div>
    </div>
      
    <div class="move_page">
        <div><a href="../main.html"><홈으로 돌아기기></a></div>
    </div>
</body>
</html>