<link rel="stylesheet" href="templates/header.css">

<div class="container">
    <div class="nav1">
        <div id="nav1" class="logo">
            <img src="../IMG/logo.png" alt="">
        </div>
    
        <div id="nav1" class="text">
            <a href=""><b>홈</b></a>
        </div>

        <div id="nav1" class="text">
            <a href=""><b>로그인</b></a>
        </div>

        <div id="nav1" class="text">
            <a href=""><b>회원가입</b></a>
        </div>

        <div id="nav1" class="text">
            <a href=""><b>사이트맵</b></a>
        </div>

        <div>
            <form action="https://search.naver.com/search.naver">
                <div class="search">
                    <input type="text" name="query" value="" autocomplete="off">
                    <img src="../IMG/search btn.png" alt="">
                </div>
            </form>
        </div>
    </div>

    <div class="nav2">

    </div>
</div>