<link rel="stylesheet" href="templates/header.css">

<div>
    <div id="nav1">
        <div class="nav1 logo">
            <img src="../IMG/logo.png" alt="">
        </div>
    
        <div class="nav1">
            <a href=""><b>홈</b></a>
        </div>

        <div class="nav1">
            <a href=""><b>로그인</b></a>
        </div>

        <div class="nav1">
            <a href=""><b>회원가입</b></a>
        </div>

        <div class="nav1">
            <a href=""><b>사이트맵</b></a>
        </div>

        <div>
            <form action="https://search.naver.com/search.naver">
                <div class="search">
                    <input type="text" name="query" value="" autocomplete="off">
                    <img src="../IMG/search btn.png" alt="">
                </div>
            </form>
        </div>
    </div>

    <hr>

    <div id="nav2">
        <div class="nav2">
            <a href=""><b>학교소개</b></a>
        </div>
        <div class="nav2">
            <a href=""><b>입학안내</b></a>
        </div>
        <div class="nav2">
            <a href=""><b>학과 소개</b></a>
        </div>
        <div class="nav2">
            <a href=""><b>학교 알림</b></a>
        </div>
        <div class="nav2">
            <a href=""><b>교수-학습자료</b></a>
        </div>
        <div class="nav2">
            <a href=""><b>정보공개</b></a>
        </div>
        <div class="nav2">
            <a href=""><b>연구 학교</b></a>
        </div>
        <div class="nav2">
            <a href=""><b>학부모마당</b></a>
        </div>
        <div class="nav2">
            <a href=""><b>취업/진로</b></a>
        </div>
    </div>

    <hr>
</div>