* {
    margin: 0;
    padding: 0;
}

#notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DFECFF;
    width: 80%;
    height: 60px;
    margin: 30px auto;
    font-size: 1.5em;
    border-radius: 0px 25px;
}

#notice > div {
    margin: 0px 20px;
}

.main_img {
    text-align: center;
}

.main_img > img {
    height: 400px;
    width: 700px;
    border-radius: 15px;
    filter: drop-shadow(10px 6px 6px #c3c3c3);
}

.container{
    width: 500px;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
ul.tabs li{
    background: none;
    color: #222;
    padding: 10px 50px;
    cursor: pointer;
    background-color: #D9D9D9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

ul.tabs li.current{
    background: #E7E3FF;
    color: #222;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tab-content{
    display: none;
    background: #E7E3FF;
    padding: 15px;
}

.tab-content.current {
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-weight: 700;
    font-size: 25px;
  }

.article1 {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px;
}

.date {
    text-align: right;
}

.content-text{
    margin: 0px 10px;
}

.date {
    font-weight: 600;
}

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

.clearfix:after {
    content: '';
    display: block;
    clear: both;
    float: none;
  }
  
  .my-calendar {
    width: 700px;
    margin: 30px;
    padding: 20px 20px 10px;
    text-align: center;
    font-weight: 800;
    border: 1px solid #ddd;
    cursor: default;
  }
  .my-calendar .clicked-date {
    border-radius: 25px;
    margin-top: 36px;
    float: left;
    width: 42%;
    padding: 46px 0 26px;
    background: #ddd;
  }
  .my-calendar .calendar-box {
    float: right;
    width: 58%;
    padding-left: 30px;
  }
  
  .clicked-date .cal-day {
    font-size: 24px;
  }
  .clicked-date .cal-date {
    font-size: 130px;
  }
  
  .ctr-box {
    padding: 0 16px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .ctr-box .btn-cal {
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none;
  }
  .ctr-box .btn-cal:after {
    content: '<';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 25px;
    font-weight: bold;
    font-size: 20px;
  }
  .ctr-box .btn-cal.next {
    float: right;
  }
  .ctr-box .btn-cal.next:after {
    content: '>';
  }
  
  .cal-table {
    width: 100%;
  }
  .cal-table th {
    width: 14.2857%;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 900;
  }
  .cal-table td {
    padding: 3px 0;
    height: 50px;
    font-size: 15px;
    vertical-align: middle;
  }
  .cal-table td.day {
    position: relative;
    cursor: pointer;
  }
  .cal-table td.today {
    background: #ffd255;
    border-radius: 50%;
    color: #fff;
  }
  .cal-table td.day-active {
    background: #ff8585;
    border-radius: 50%;
    color: #fff;
  }
  .cal-table td.has-event:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #FFC107;
  }

.article2 {
    display: flex;
    justify-content: space-evenly;
}

.event_img {
    height: 350px;
}

.event_text {
    text-align: left;
    font-size: 30px;
}

.school_event {
    text-align: center;
}

.event_text2 {
    font-size: 25px;
    
}

.event_a, .event_a:any-link {
    text-decoration: underline;
}